*{
    margin: 0;
    padding: 0;
}
.fluid
{
    min-height: 500px;
    min-width: 1200px;
    background: red;
}
.container{
    max-width: 1024px;
}
.navbar{
    min-height: 100px;
    background-color: white;
}
.navbar-collapse
{
    justify-content: space-around;
    font-size: 20px;

}
.navbar_search{
    min-height: 55px;
    min-width: 350px;
    border: 1px solid black;
    border-radius: 40px;
    margin-left: 100px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.navbar_input
{
    height: 35px;
    width: 300px;
    border: none;
}
.navbar_input::placeholder {
    font-size: 22px;
}
.navbar_icon{
    color:red;
        font-size: 26px;
}
.btn_signIn{
    height: 45px;
    width: 120px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
}
.navbar_item{
    margin-right: 30px;
}